<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twoje konto zostało pomyślnie utworzone</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f6f6f6; margin: 0; padding: 0;">
<table width="100%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="middle" style="padding: 40px 0;">
            <table width="600" cellpadding="0" cellspacing="0" style="background-color: #ffffff; border-radius: 8px; padding: 40px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                <tr>
                    <td style="text-align: center;">
                        <h2 style="color: #333333; margin-top: 20px; margin-bottom: 30px;">Zapomniałeś hasła?</h2>

                        <p style="font-size: 16px; color: #555555;">Witaj <strong>{{User}}</strong>,</p>
                        <p style="font-size: 16px; color: #555555;">
                            Nic nie szkodzi! Kliknij przycisk poniżej i zresetuj je już teraz.
                        </p>

                        <a href="{{ResetLink}}"
                           style="background-color: #4CAF50; color: #ffffff; text-decoration: none; 
                                      padding: 12px 24px; border-radius: 5px; display: inline-block; 
                                      font-size: 16px; font-weight: bold;">
                            Resetuj hasło
                        </a>

                        <p style="margin: 40px 0 30px 0; font-size: 16px; color: #555555;">
                            Pozdrawiamy,<br><strong>Zespół Shelter Manager</strong>
                        </p>

                        <hr style="border: none; border-top: 1px solid #eee; margin: 0 0 20px 0;">

                        <p style="font-size: 12px; color: #999999; margin-bottom: 25px">
                            To jest wiadomość automatyczna — prosimy na nią nie odpowiadać.<br>
                            Jeśli nie prosiłeś o reset hasła, zignoruj tę wiadomość.                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>


<a target="_blank" href="http://&lt;url&gt;/reset-password?token=CfDJ8PUhlXyJDEdFkvmKpfLNIJSWCGtXo4lt3r1hdfjBOg2KD2ujxPjABYPik1ZKmczs%2FYo9sNgL7RkKXRsjbEHG7nTT6MIje3jFom3wn5ZfHrEMoIAJMLovQbk4%2BafFi66xWuLmS3AUqwTwjS4vR7%2BkWX6xgHBYAyuqMRKNBzEr6DyUFVUn9PPVD6Kg1%2BvE66Oq7cIiXgehYGGZo1SSiMzl%2Frj5xXweMfPuCMaK13kMcQP8&amp;email=alek@zolnowski.eu" style="background-color: #4CAF50; color: #ffffff; text-decoration: none; 
                                  padding: 12px 24px; border-radius: 5px; display: inline-block; 
                                  font-size: 16px; font-weight: bold;" rel="noopener"> Reset Password </a>