<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twoje konto zostało pomyślnie utworzone ennnnasfsfa</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f6f6f6; margin: 0; padding: 0;">
    <h2 style="color: #333333;">Twoje konto zostało pomyślnie utworzone</h2>
    <p>Witaj <strong>{{User}}</strong>,</p>
    <p>Twoje konto zostało pomyślnie założone w aplikacji <strong>Shelter Manager</strong>.</p>
    <p>
        Hasło do pierwszego logowania:
        <span style="display: inline-block; background: #f1f1f1; padding: 6px 12px; border-radius: 4px; font-weight: bold;">
                {{Password}}
            </span>
    </p>
    
    <p style="margin-top: 30px;">Pozdrawiamy,<br><strong>Zespół Shelter Manager</strong></p>
    
    <hr style="border: none; border-top: 1px solid #eee; margin: 30px 0;">
    
    <p style="font-size: 12px; color: #999999;">
        To jest wiadomość automatyczna — prosimy na nią nie odpowiadać.
    </p>
</body>
</html>
